.description-text {
  font-family: 'Michroma';

}

.power-text {
  font-family: 'Exo 2';
}
/* Container for the description section */
.description-datasheet-container {
  display: flex;
  flex-direction: column; /* Stack image and text container vertically */
  align-items: center; /* Horizontally center the content */
  justify-content: center; /* Center content vertically if needed */
  height: 80vh; /* Full viewport height */
  margin-top: 5vh; /* Adjust top margin */
  margin-bottom: 10vh;
}

/* Image styles */
.description-gauss-motorbike {
  width: 680px;
  height: 360px;
  object-fit: contain; /* Maintain aspect ratio */
  margin-bottom: 3vh; /* Space between image and text */
}

/* Text container */
.description-text-container {
  display: flex; /* Arrange items horizontally on desktop */
  justify-content: center; /* Center the items horizontally */
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping in smaller screens */
  margin-top: 20px; /* Space between image and text */
}
.description-lightning-container {
  margin-top: 8vh;
}
/* Individual text items */
.description-text-item {
  text-align: center;
  padding: 10px 20px; /* Adjust padding for spacing */
  font-size: 1.4rem; /* Adjust font size */
  color: white; /* Text color */
  border-left: 2px solid #fff; /* Vertical white line between items */

}

.description-text-item:first-child {
  border-left: none; /* Remove the left border on the first item */
}
.minimize-downtime-text {
  font-size: 1.2rem;
  margin-bottom: 3vh;
}
/* Adjustments for mobile */
@media (max-width: 768px) {
  .description-text-container {
    flex-direction: column; /* Stack items vertically on mobile */
    justify-content: start;
    margin-top: 0;
    text-align: center;
  }

  .description-text-item {
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
    text-align: center; /* Ensure the text is centered */
    font-size: 1rem;
    border-left: none; /* Remove vertical borders on mobile */
    width: 100%; /* Make items take full width */
    text-align: left; /* Align text to the left on mobile */
    padding: 10px 20px; /* Add extra padding on mobile */
    width: 100%; /* Limit the width of each text item */
    max-width: 500px;
  }

  /* Add horizontal separator for mobile */
  .description-text-item:not(:last-child) {
    border-bottom: 2px solid #fff; /* Horizontal white line between items */
  }

  .description-text-item:last-child {
    border-bottom: none; /* Remove bottom border on last item */
  }
}


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

.description-battery-swap-video{
  top: 0;
  left: 0;
  width: 93%;
  height: 68vh;
  padding: 0;
  object-fit: cover; 
  transition: filter 0.5s ease-out;
  will-change: filter;
}


.sponsor-image {
  margin-top: 2rem;
  margin-left: 2rem;
}

/* Keyframes for vertical scrolling effect */
@keyframes scrollVertical {
0% {
  transform: translateY(-50%);  /* Start at the top */
}
100% {
  transform: translateY(0%);  /* Scroll to the bottom, and stop exactly at halfway point */
}
}

.scroll-button-container {
  text-align: center; /* Center the button horizontally */
  margin-top: 20px; /* Add spacing from the parallax section */
  padding: 20px 0; /* Add some vertical padding */
}

.scroll-to-hero-button {
  padding: 13px 27.5px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Exo 2';
  height: 3.5rem;

  
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative; /* Ensure position for pseudo-elements */
}

.scroll-to-hero-button:hover {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.scroll-to-hero-button:before {
  content: '';
  /* Linear gradient with your desired colors */
  background: linear-gradient(45deg, #F9F7F7, #DBE2EF, #3F72AF, #112D4E);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.scroll-to-hero-button:hover:before {
  opacity: 1; /* Show the glow effect when the button is hovered */
}

.scroll-to-hero-button:active {
  color: #000;
}

.scroll-to-hero-button:active:after {
  background: transparent;
}

.scroll-to-hero-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 5px;
}
.gauss-2picture-container{
  width: auto;
  height: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;
}

.gauss-electric-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 10vh;
  padding-right: 10vh;
}

.description-torque {
  margin-right: 15vh;
}

.description-power {
  margin-right: 15vh ;
}
.description-text-header {
  font-family: 'Michroma';
  font-size: 3.7rem;
  color: white;
  margin-bottom: 7vh;
}
.description-battery {
  margin-right: 15vh;
}
.description-speed {
  padding: 0;
  margin: 0;
}
.lightning-fast-text {
  font-size: 3rem;
  margin-top: 5vh;
}
.description-weight {
  margin-right: 5vh;
}
.description-charging-container  {
  margin-left: 2rem;
} 
.gauss-electric-superbike-text {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.lightning-fast-text-description {
  font-size: 1.2rem; 
  font-family: 'Exo 2'; 
}
.gauss-charge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 2rem;
  padding-left: 4rem;
  margin-bottom: 15vh;
  margin-top: 10vh;
}

.speed-torque-container {
  flex-direction: row;
}

.description-sponsors-container {
  display: flex;
  flex-direction: column;
  padding-left: 15vh;
  padding-right: 15vh;
  margin: 0; /* Ensure no additional margin on the container */
  align-items: center; /* Center the container horizontally */
  gap: 3vh;
}

/* Desktop Layout - Keep as is */
.description-sponsors-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 4vh; /* Consistent gap between inside-row blocks */
  flex-wrap: wrap;
}

.description-sponsor-inside-row {
  display: flex;
  justify-content: space-between;
  gap: 4vh;
  flex-wrap: wrap;
}

.description-sponsor-image {
  width: 270px; /* Set desired size */
  height: 180px; /* Consistent aspect ratio */
  border-radius: 10px; /* Round borders */
}

/* For Mobile (below 768px) */
@media (max-width: 768px) {
  .description-sponsors-container {
  padding-left: 4vh;
  padding-right: 4vh;
  }

  .description-sponsors-row {
    display: flex;
    flex-direction: column; /* Stack rows on top of each other */
    gap: 5vh; /* Adjust gap between rows */
    width: 100%; /* Ensure each row takes full width */
  }

  .description-sponsor-inside-row {
    display: flex;
    flex-direction: row; /* Ensure images are side by side */
    justify-content: center;
    gap: 5vh;    
    width: 100%; /* Full width for each inside row */

  }

  .description-sponsor-image {
    width: 48%; /* Images take up 48% of the width on mobile */
    height: auto; /* Maintain aspect ratio */
  }
  .description-sponsor-image {
    width: 162px; /* 270px * 0.5 = 135px */
    height: 108px; /* 180px * 0.5 = 90px */
  }
}
.description-sponsored-by-text {
  color: white;
  font-size: 2.5rem;
  font-family: 'Exo 2';
  text-align: center;
  margin-bottom: 2vh; /* Space below the "Sponsored by" text */
}
@media (max-width: 465px) {
  .description-sponsor-image {
    width: 135px; /* 270px * 0.5 = 135px */
    height: 90px; /* 180px * 0.5 = 90px */
  }
  .description-sponsored-by-text {
    font-size: 2.5rem;
  }
}

@media (max-width: 439px) {
  .description-sponsor-image {
    width: 148.5; /* 270px * 0.5 = 135px */
    height: 99px; /* 180px * 0.5 = 90px */
  }
  .description-sponsored-by-text {
    font-size: 2.5rem;
  }
}
@media (max-width: 427px) {
  .description-sponsor-image {
    width: 135px; /* 270px * 0.5 = 135px */
    height: 90px; /* 180px * 0.5 = 90px */
  }
  .description-sponsored-by-text {
    font-size: 2rem;
  }
}

@media (max-width: 410px) {
  .description-sponsor-image {
    width: 126.9px;
  height: 84.6px;

  }
}

@media (max-width: 391px) {
  .description-sponsor-image {
    width: 121.5px;
    height: 81px;

  }
}
@media (max-width: 359px) {
  .description-sponsor-image {
    width: 108px;
    height: 72px;

  }
}

.gauss-electric-picture {
  width: 700px;
  width: 50%;
  margin-right: 5vh;
  margin-left: 3vh;
}


.history-text {
  font-family: 'Exo 2';
  font-size: 1.2rem; /* Font size */

}

.history-button {
  margin-top: 2vh;
  background-color: var(--color-primary-red-dark); /* Orange-red background color (offered background) */
  color: white; /* White text */
  padding: 12px 24px; /* Padding to make the button bigger */
  border: none; /* Remove border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
  font-family: 'Exo 2' /* Font family */
}

.history-button:hover {
  background-color: var(--color-primary-red); /* Darker shade of orange-red when hovered */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.history-button:focus {
  outline: none; /* Remove focus outline */
}

.history-button:active {
  background-color: var(--color-primary-red); /* Even darker shade when the button is clicked */
}

/* tablet */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .description-datasheet-container {
    margin-top: 10vh;
    height: 60vh;
  }

  .gauss-electric-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .description-battery-swap-video {
    height:30vh;
  }

  .image2-container {
    margin-top: 8vh;
  }

  .gauss-charge-container {
    margin-top: 4vh;
    margin-bottom: 10vh;
  }

  .history-button {
    padding: 20px 40px;
    font-size: 1.5rem;
  }
}




@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
@media (max-width: 768px) {

  .gauss-electric-container {
    flex-direction: column;
    padding-right: 4vh;
    padding-left: 4vh;
    margin-bottom: 2vh;
    margin-top: -5vh;
  }
  .gauss-electric-picture {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 6vh;
  }
  .gauss-electric-text {
    width: full;
  }

  .minimize-downtime-text {
    font-size: 0.8rem;
    margin-bottom: 3vh;
  }
  .description-datasheet-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    height: 55vh; /* Optional: Ensures the container takes full viewport height */
    margin-top: 7vh;
  }
  

  .gauss-charge-container {
    flex-direction: column;  /* Stack the items vertically */
    align-items: center;      /* Center align the items */
    padding-left: 4vh;
    padding-right: 4vh;
    margin-bottom: 7vh;
    margin-top: 0vh;
  }

.description-text {
  font-size: 2.2rem;
}
.description-text-header {
  font-size: 2.5rem;
  margin-bottom: 4vh;

}
  .description-gauss-motorbike {
    width: 340px;
    height: 180px;
    margin-bottom: 1vh;
  }

  .description-torque {
    margin-right: 3vh;
    margin-left: 10vh;
  }
  
  .description-power {
    margin-right: 3vh ;
  }
  
  .description-battery {
    margin-right: 7.2vh;
  }
  
  .description-weight {
    margin-right: 3vh;
  }
  .description-speed {
    margin-right: 0;
  }

.power-text-power {
  font-size: 1rem;
}
.power-text-torque {
  font-size: 1rem;
}

.description-power {
  margin-left: 1vh;
}

  .description-logo-2 {
    padding: 0;
  }
.description-battery-swap-video {
  height: 50%;
width: 100%;
}
.description-lightning-container {
  width: 100%;
  padding: 0;
  margin-top: -2vh;
}

.description-battery-swap-video::before {
  content: '';  /* Empty content for pseudo-element */
  position: absolute;
  top: 0;  /* Place at the top */
  left: 0;
  width: 100%;
  height: 60%;
  background: rgba(0, 0, 0, 0.5);  /* Shadow with transparency (black color with opacity) */
  z-index: 1;  /* Ensure it stays above the video */
}
  .power-logo {
    margin-left: 2vh;
  }

  

  .gauss-electric-text {
    width: 100%;
    margin: 0;
  }
  .gauss-electric-description {
    font-size: 0.85rem;
    line-height: 1.7;
    width: 100%;
  }
  .gauss-electric-superbike-text {
    font-size: 1.6rem;
    margin-top: 3vh;
    margin-bottom: 2vh;
    width: 105%;
  }

  .description-container {
    padding-top: 2rem;
  }
.lightning-fast-text {
  font-size: 1.5rem;
  margin-bottom: 0;
}

  .image2-container {
    height: 100%;
    width: 97%;
    margin: 0;
  }
  .description-charging-container  {
    width: 100%;
    margin-left: 0;
  }
  .description-charging-text {
    font-size: 1.65rem;
    margin-bottom: 2vh;
  }

  .description-charging-description {
    font-size: 0.85rem;
  }
 .lightning-fast-container{
  justify-content: center;
  text-align: center;
  align-items: center;
  }
  .lightning-fast-text-description {
    font-size: 1rem;  
    width: 90%;
  }
 
  .sponsor-image {
    margin-left: 2vh;
    margin-right: 2vh;
  }
 
}

@media screen and (max-height: 668px) {
  .description-container {
    padding-top: 15vh;
  }

  .gauss-electric-container {
    margin-bottom: 2vh;
  }
}
@media screen and (max-height: 825px) {
  .description-container {
    padding-top: 3vh;
  }

  .gauss-electric-container {
    margin-top: 0vh;
    margin-bottom: 4vh;
  }
}

/* Temporary debug borders for layout 
* {
  border: 1px solid red; 
}*/
