
.hero-container {
  position: relative; /* Ensure it's properly stacked */
  z-index: 1; /* Keep it behind interactive elements */
  caret-color: transparent; /* Hide the cursor */

}


.hero-shadow-left,
.hero-shadow-bottom {
  pointer-events: none; /* Ensure they don’t block hover or clicks */
}


.hero-shadow-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); 
    z-index: 1; 
}
/* This class will hide the navbar on scroll (if you decide to add the scroll behavior later) */
.navbar-section.hide {
  transform: translateY(-100%); /* Hide navbar on scroll */
}

.navbar-section.show {
  transform: translateY(0); /* Show navbar */
}

  .logo {
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 110;
    margin-left: 13px;
  }
  
  /* Desktop Navbar Menu */
  .navbar-menu-container {
    display: flex;
    flex-direction: row;
  }
  

.hero-title-highlight {
  color:  var(--color-primary-red-light);
  font-size: 6.7rem;
  margin-left: -1vh;
  margin-bottom: 0;
}

  .hero-shadow-bottom {
    z-index: -2;
  }


  /* White Line Below Navbar */
  
  .navbar-white-line {
    z-index: -3;
  }
  
 
 
  
  /* Video Background */
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
  }
  
  .hero-title-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Michroma';
    font-weight: 400;
    text-align: left;
    color: white;
    z-index: 1; 
  }
  
  .hero-title-fuel {
    font-size: 2.2rem;
    margin-bottom: -3vh;
  }
  
  .hero-title-partner {
    font-size: 40px;
  }
  
.hero-title-search-partner {
  width: 70%;
  color: white;
  padding: 0;
  margin: 0;
  margin-bottom: 2vh;
}





.gauss-bikes-mobile {
  height: 40%;
  margin-left: 2vh;
  width: 41%;
  border-radius: 10px;
}
  .hero-title-student {

  }
.hero-button-container {
  width: 80%;
  display: flex;
}
  .hero-sponsor-button {
    width: 35%;
    height: 50px;
    background: var(--color-primary-red);
    color: white;
    font-size: 15px;
    font-family: 'Michroma';
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid black;
    transition: all 0.3s ease;
  }

.hero-title-search-partner{
  letter-spacing: 0.3px;
  width: 100%;
}

  .hero-button-partner {
    width: 35%;
    height: 50px;
    color: white;
    font-size: 15px;
    font-family: 'Michroma';
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid white;
    transition: all 0.3s ease;
    margin-left: 3vh;
  }
  .hero-sponsor-button:hover {
    cursor: pointer; /* Add pointer cursor */
  }
  
  

.hero-title-partner-mobile {
    display: none;
}
.hero-title-partner-highlight-mobile {
    display: none;
}
.hero-shadow-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%; /* Adjust this value based on how wide you want the shadow */
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 1; /* Optional: Adjust the opacity for a subtle effect */
  z-index: 1;
}
.navbar {
  background: transparent !important;
  box-shadow: none !important;
  overflow: hidden;
}
.navbar-container {
  height: auto;
  overflow: hidden;
  background: none !important;
}
.navbar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

  @media (max-width: 768px) {
    .hero-shadow-bottom {
         position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20rem; /* Adjust the height as needed */
        background: linear-gradient(to top, black, rgba(0, 0, 0, 0.8), transparent);
        opacity: 0.9; /* Adjust the opacity as needed */
        z-index: -4;
    }
    .navbar {
      background: transparent !important;
      box-shadow: none !important;
  }
    

    .hero-title-container {
        left: 0px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Vertically center */
        align-items: center; /* Horizontally center */
        left: 50%; /* Move the container to the center horizontally */
        transform: translateX(-50%); /* Offset by 50% of its width to achieve true centering */
        top: 62%; /* Vertically center the content */
        transform: translate(-50%, -50%); /* Adjust vertical centering */
        font-family: 'Michroma';
        font-weight: 400;
        text-align: center; /* Center text horizontally */
        color: white;
        margin-top: 17vh;
        width: 100%;
    }

    .hero-title-fuel {
        font-size: 2.1rem;
        width: 200%;
        margin: 0;
    }

    .hero-title-partner {
        display: none;
    }

    .hero-title-partner-mobile {
        display: contents;
    }

    .hero-title-partner-mobile {
        font-size: 1rem;
    }

    .hero-title-partner-mobile-container {
        margin-bottom: 0.3vh;
        margin-top: 1vh;
    }

    .hero-title-partner-highlight-mobile {
        font-size: 2.1rem;
        color:  #b3ddff;
        padding-left: 2vh;
        display: contents;
    }

    .hero-sponsor-button {
        width: 170%;
    }

    .hero-title-fuel {
      font-size: 1.4rem;
      margin-bottom: -1vh;
    }

    .hero-title-highlight {
      font-size: 4rem;
    }

    .hero-button-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .hero-sponsor-button {
      width: 50%;
    }

    .hero-title-search-partner {
      font-size: 0.8rem;
    }

    .hero-sponsor-button {
      width: 100%;
    }
    .hero-button-partner {
      width: 100%;
      margin-left: 0;
    }
  }

  @media (max-width: 400px) {
    .hero-title-fuel {
      font-size: 1.3rem;
      margin-bottom: -1vh;
    }

    .hero-title-highlight {
      font-size: 3.8rem;
    }

    .hero-title-search-partner {
      font-size: 0.7rem;
    }
  }

  @media (max-width: 380px) {
    .hero-title-fuel {
      font-size: 1.2rem;
      margin-bottom: -1vh;
    }

    .hero-title-highlight {
      font-size: 3.6rem;
    }

    .hero-title-search-partner {
      font-size: 0.65rem;
    }
    .hero-sponsor-button {
      width: 100%;
    }
    .hero-button-partner {
      width: 100%;
      margin-left: 0;
    }

    .hero-title-container {
      top: 55%;
    }
  }
  
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .hero-title-fuel {
      margin-bottom: -1vh;
    }
  }
  