.footer-container {
  background-color: var(--color-dark-gray);
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  padding-left: 7vw;
  padding-right: 5vw;
  padding-top: 4vh;
  padding-bottom: 3vh;
}

.footer-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
}


.footer-gauss-logo {
  height: 55px;
  margin-bottom: 2vh;
}

.footer-top-column-logo {
  width: 40%;
  margin-right: 15vh;
}
.footer-top-column {
  width: 20%;
  margin-right: 10vh;
  display: flex;
  flex-direction: column;
}

.footer-company-name {
  color: white;
  font-family: 'Exo 2';
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2vh;
}

.footer-company-description {
  color: white;
  font-family: 'Exo 2';
  font-size: 1rem;
}

.footer-top-column-title {
  color: white;
  font-family: 'Exo 2';
  font-weight: 600;
  margin-bottom: 2vh;
  font-size: 1.5rem;
}



.footer-social-icons {
  display: flex;
  gap: 15px;
  justify-content: flex-start; /* Aligns to the left */
  align-items: center;
  margin-top: 10px;
}

.footer-social-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-social-icon:hover {
  transform: translateY(-3px); /* Moves the icon up slightly */
  opacity: 0.8; /* Slight transparency effect */
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.footer-copyright {
  color: white;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 8px; /* Space between text & icon */
}

.footer-copyright-icon {
  width: 22px; /* Adjust size */
  height: 22px;
  
}

.footer-copyright-text {
  font-family: 'Exo 2';
  font-size: 1.1rem;
}

.footer-link-text {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Ensure smooth color transition */
  color: white;
  font-family: 'Exo 2';
  margin-bottom: 0.5vh;
}

.footer-imprint-text {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Ensure smooth color transition */
  color: white;
  font-family: 'Exo 2';
}

.footer-link-text:hover {
  color: var(--color-primary-red); /* Ensures the hover color stays consistent */
  opacity: 1; /* Forces full opacity */
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }
  .footer-container {
    margin-top: 4vh;
    padding-right: 7vw;
  }
  .footer-top-column-logo {
    width: 100%;
    margin-bottom: 5vh;
  }

  .footer-top-column {
    width: 100%;
    margin-bottom: 4vh;
  }

  .footer-link-text {
    font-size: 1rem;
  }
}