.gauss2-page-container {
    background-color: black; /* Set background color to black */
    color: white; /* Optional: Make text color white for contrast */
}
  
.gauss2-hero {
  width: 100vw;
  height: 103%;  /* Ensure the image occupies the entire container */
  object-fit: cover; /* Keep the image fully covering the container */
}

.gauss2-hero-text-overlay {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 70vh;
  padding: 1vh;
  box-shadow: 0px 4px 10px rgba(1, 1, 1, 1); /* Shadow behind the div */
  border-radius: 10px; /* Optional: Makes corners rounded */
  background-color: rgba(0, 0, 0, 0.6); /* Optional background to enhance shadow visibility */

}
.gauss2-systems-title {
  color: white;
  font-size: 2.1rem;
  margin-top: 2vh;
  font-family: 'Exo 2';
}

.gauss2-hero-title {
  font-family: 'Exo 2';
  font-size: 6rem;
  margin: 0;
}
  
.gauss2-hero-title-description {
  font-family: 'Exo 2';
  font-size: 1.5rem;
}



.gauss2-description-picture {
  width: 100%; /* Make the image take up the full width of the container */
  height: 45.9vh; /* Set the height of the image to 40vh */
  object-fit: cover; /* Ensure the image covers the frame without stretching */
  margin-bottom: 15px; /* Adds space between the image and text */
}

.view-rear-front-button-gauss2 {
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid ; /* Blue border */
  color: white; /* Text color */
  font-family: 'Michroma';
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Active state styling */
.view-rear-front-button-gauss2.active {
  background-color: var(--color-primary-red); /* Keep background blue */
  color: white; /* Keep text color white when active */
}

/* On hover, change background color */
.view-rear-front-button-gauss2:hover {
  background-color: var(--color-primary-red);
  color: white;
}

.view-rear-front-button-gauss2:focus {
  outline: none;
}

/* Circle buttons */
.circle-test-gauss2 {
  position: absolute; /* Position circles absolutely relative to the container */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white; /* Add a white border with 2px thickness */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  z-index: 2; /* Ensure circles are on top of the image */

  transition: border-color 0.2s ease; /* Transition for the border color */

}
.plus-sign-gauss2 {
  font-size: 20px;
  color: white;
  margin-bottom: 0.4vh;

  transition: border-color 0.2s ease; /* Transition for the border color */

}

.plus-sign-gauss2:active {
  color: var(--color-primary-red-very-light);
}

.circle-test-gauss2:active {
  border: 2px solid var(--color-primary-red);  /* Blue border when clicked */
}

.gauss2-text-below-hero {
  display: flex;
  text-align: center;
  padding-left: 50vh;
  padding-right: 50vh;
  margin-top: 10vh;
  color: white;
  font-size: 1.1rem;
  font-family: 'Exo 2';

}

@media (max-width: 768px) {
  .gauss2-description-picture {
    height: auto;
  }

  .gauss2-systems-title {
    margin-top: 0;
  }

  .gauss2-text-below-hero {
    padding-left: 0;
    padding-right: 0;
    margin-top: 5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 0.93rem;
    text-align: center;
  }
  .gauss2-systems-title {
    font-size: 1.8rem;
  }

  .gauss2-hero {
    width:100vw;
    margin-top: 2vh;
    left: 1;
    object-position:-99vh; /* Focuses the image on the left side */
    position: relative; /* Ensures alignment adjustments work */
    height: 90vh;
  }

  .gauss2-hero-text-overlay { 
    top: 78.3%;
    left: 50%;
    padding: 0;
    width: 90%;
  }

  .gauss2-hero-title {
    font-size: 4rem;
  }

  .gauss2-hero-title-description {
    font-size: 1.2rem;
  }
}