/* partners.css */
.partners-section {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    background-color: black;
  }
  
  .partners-section h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .partners-section p {
    font-size: 1.2rem;
    color: #666;
  }