/* about.css */


.navbar-section {
}

.navbar-menu-text-container {
  display: flex;
  flex-direction: row;
}


.navbar-menu-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #b3ddff;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar-menu-text:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
